<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Report & Suggestion</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery-3.3.1.slim.min.js"></script>
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="/new-pulao-white.png">
</head>
<body>
    <img src="back-logo-black.png" onclick="goBack()">
	<p>Bug Report & Suggestion</p>
    <div class="row">
		<span class="col-md-2 col-lg-2 col-sm-0"></span>
		<div class="col-md-8 col-lg-8 col-sm-12">
			<form action="submit" method="get" id="checkform">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">First & Last Name</span>
					</div>
					<input type="text" name="firstName" aria-label="First name" placeholder="First Name" class="form-control" required>
					<input type="text" name="lastName" aria-label="Last name" placeholder="Last Name" class="form-control" required>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Bug Report & Suggestion</span>
					</div>
					<textarea type="text" name="bug" aria-label="Describe the information" placeholder="Describe the information" class="form-control" rows="6" required></textarea>
				</div>
                <p>You can contact us in <a href="https://github.com/ncpatst/NightStudio/issues/2">Github</a>or email 2250027@ncpachina.org</p>
                <button type="submit" class="btn btn-outline-info btn-lg btn-block mb-2" id="sugnupsubmit">Submit</button>
            </form>
        <div>
    <div>
</body>
</html>